version: "3"

services:
  sixnode0:
    container_name: sixnode0
    image: "asia-southeast1-docker.pkg.dev/six-protocol/six-node-docker-repo/sixnode:${DOCKER_TAG:-v4.0.0}"
    ports:
      - "26656-26657:26656-26657"
      - "1317:1317"
      - "8545-8546:8545-8546"
      - "9090-9091:9090-9091"
    volumes:
      - ./build/sixnode0/:/opt/build/six_home/
    command: bash ${COMMAND}.sh sixnode0
    environment:
      - TZ=Asia/Bangkok
    networks:
      localnet:
        ipv4_address: 10.10.0.2

  sixnode1:
    container_name: sixnode1
    image: "asia-southeast1-docker.pkg.dev/six-protocol/six-node-docker-repo/sixnode:${DOCKER_TAG:-v4.0.0}"
    ports:
      - "26665-26666:26656-26657"
      - "8553-8554:8545-8546"
      - "9094-9095:9090-9091"
    volumes:
      - ./build/sixnode1/:/opt/build/six_home/
    command: bash ${COMMAND}.sh sixnode1
    environment:
      - TZ=Asia/Soul
    networks:
      localnet:
        ipv4_address: 10.10.0.3

  sixnode2:
    container_name: sixnode2
    image: "asia-southeast1-docker.pkg.dev/six-protocol/six-node-docker-repo/sixnode:${DOCKER_TAG:-v4.0.0}"
    ports:
      - "26661-26662:26656-26657"
      - "9096-9097:9090-9091"
    volumes:
      - ./build/sixnode2/:/opt/build/six_home/
    command: bash ${COMMAND}.sh sixnode2
    environment:
      - TZ=America/New_York
    networks:
      localnet:
        ipv4_address: 10.10.0.4

  sixnode3:
    container_name: sixnode3
    image: "asia-southeast1-docker.pkg.dev/six-protocol/six-node-docker-repo/sixnode:${DOCKER_TAG:-v4.0.0}"
    ports:
      - "26663-26664:26656-26657"
      - "9098-9099:9090-9091"
    volumes:
      - ./build/sixnode3/:/opt/build/six_home/
    command: bash ${COMMAND}.sh sixnode3
    environment:
      - TZ=Europe/London
    networks:
      localnet:
        ipv4_address: 10.10.0.5

networks:
  localnet:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.10.0.0/16
