name: Build App

on:
  pull_request:
  merge_group:
  push:
    branches:
      - main
      - development

jobs:
  release-linux-amd64-to-bucket:
    name: release linux/amd64 to bucket
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup - golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.24"

      - name: Build binary
        run: GOOS=linux GOARCH=amd64 make build

      - name: Binary Test Version
        run: ./build/sixd version
