name: Build App

on:
  release:
    types: [released]

jobs:
  build-container:
    name: Build in Ubuntu 20.04 container
    runs-on: ubuntu-latest
    env:
      GCS_BUCKET: ${{ secrets.SIXNET_BINARIES_BUCKET }}
      BINARY_VERSION: ${{ github.event.release.tag_name }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build in Ubuntu 20.04
        uses: addnab/docker-run-action@v3
        with:
          image: ubuntu:20.04
          options: -v ${{ github.workspace }}:/workspace
          run: |
            apt-get update
            apt-get install -y gcc make git wget
            wget https://go.dev/dl/go1.24.0.linux-amd64.tar.gz
            tar -C /usr/local -xzf go1.24.0.linux-amd64.tar.gz
            export PATH=$PATH:/usr/local/go/bin
            cd /workspace
            go mod tidy
            make build
            chmod +x ./build/sixd

      - name: Test version
        run: ./build/sixd version

      - name: Auth GCLOUD
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: ${{ secrets.SIXNET_BINARIES_SA_KEY }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Upload to cloud storage
        uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          path: ./build/sixd
          destination: ${{ secrets.SIXNET_BINARIES_BUCKET }}/sixchain/${{ env.BINARY_VERSION }}/.
          process_gcloudignore: false
