name: Build App

on:
  pull_request:
  merge_group:
  push:
    branches:
      - develop

jobs:
  release-linux-amd64-to-bucket:
    name: release linux/amd64 to bucket
    runs-on: ubuntu-latest
    env:
      GCS_BUCKET: ${{ secrets.SIXNET_BINARIES_BUCKET }}
      BINARY_VERSION: "dev"
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup - golang
        uses: actions/setup-go@v3
        with:
          go-version: "1.24"

      - name: Set up GCC & Make
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build binary
        run: GOOS=linux GOARCH=amd64 make build

      - name: Binary Test Version
        run: ./build/sixd version

      - name: Binary Test
        run: ./build/sixd

      - name: Auth GCLOUD
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: ${{ secrets.SIXNET_BINARIES_SA_KEY }}

      - name: Setup Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Upload to cloud storage
        uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          path: ./build/sixd
          destination: ${{ secrets.SIXNET_BINARIES_BUCKET }}/sixchain/$BINARY_VERSION/sixd
